@{
    ViewData["Title"] = "Page Home";
}

<div class="container text-center">
    <div class="mt-4 p-5 text-white rounded" style="background-color: #ccc;">
        <h1 class="display-4 fw-bold text-black">Welcome!</h1>
        <p class="text-black">Register of products system.</p>
    </div>
    <div class="mt-2">
        <img src="~/cadastro.png" class="img-fluid" />
    </div>
</div>