@model LoginModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-success btn-sm close-alert" aria-label="close">X</button>
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="close">X</button>
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Login" asp-action="ToEnter" method="post">
    <div class="mb-3">
        <label for="login" class="login">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="password">
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    <p class="mb-4 text-sm-start mx-auto">
        Forgot your password?
        <a class="text-primary text-decoration-none fw-bold" asp-controller="Login" asp-action="RedefinePassword">Redefine my password</a>
    </p>

    <button type="submit" class="btn btn-primary w-100">Enter</button>
</form>