@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Restricted Page";
}

<p>You don't have permission to access this page, <a asp-controller="Home" asp-action="Index">Click here to return to Home</a></p>